/* PC */
/* header 시작 */
@media screen and (min-width:1021px) {
*{margin: 0; padding: 0;}
    .header{
        position: fixed;
        width: 100%;
        height: 89px;
        z-index: 100;
        background: #000;
        border-bottom: 1px solid #343434;
    }
    .logo_pc{
        position: absolute;
        left: 40px;
        top: 30px;
    }
    .top_menu{
        display: block;
        position: absolute;
        top: 50%;
        right: 120px;
        transform: translateY(-50%);
        margin: 0;
        padding: 0;
    }
    .top_menu li{
        float: left;
        margin: 0 0 0 60px;
        list-style: none;
        position: relative;
        cursor: pointer;
    }
    .sns_bt{
        position: absolute;
        top: 26px;
        right: 40px;
        width: 34px;
        height: 34px;
        overflow: hidden;
    }
    /* 호버후의 사진이 밑에 같이 붙어있음. */
    .sns_bt:hover img{
        cursor: pointer;
        position: absolute;
        top:-50%;
        transform: translateY(-25%);
    }
    .topmenu_1_hide , .topmenu_2_hide , .topmenu_3_hide , .topmenu_4_hide , .topmenu_5_hide{
        display: none;
        position: absolute;
        top: 57%;
        transform: translateY(-65%);
    }
    .top_menu .topmenu_1:hover .topmenu_1_hide{
        display: block;
    }
    .top_menu .topmenu_2:hover .topmenu_2_hide{
        display: block;
    }
    .top_menu .topmenu_3:hover .topmenu_3_hide{
        display: block;
    }
    .top_menu .topmenu_4:hover .topmenu_4_hide{
        display: block;
    }
    .top_menu .topmenu_5:hover .topmenu_5_hide{
        display: block;
    }
    .ta_menu_bt{
        display: none;
    }
    #pc_none{
        display: none;
    }
    /* header 끝 */
    /* content 시작 */
    .content_title_wrap{
        padding-top: 89px ;
        background-color: #f6f6f6;
    }
    .content_title{
        /* 무조건 퍼센트!!! */
        width: 94%;
        max-width: 1416px;
        height: 175px;
        margin: 0 auto;
        position: relative;
        border-bottom: 2px solid #e4e4e4;
    }
    .content_title h2{
        position: absolute;
        top: 0;
        left: 0;
        line-height: 175px;
        font-size: 47px;
        color: #313131;
        font-family: 'malgun' !important;
    }
    .content_title img{
        position: absolute;
        top: 0;
        right: 0;
    }
    .content1_wrap{
        margin-bottom: 80px;
        padding: 60px 5%;
        text-align: center;
        background: url(flerogames_img/recuit.jpg) no-repeat -140px -200px;
        background-size: 150% auto;
        background-attachment: fixed;
    }
    /* content1_title 높이는 h2의 높이 */
    .content1_title{
        display: block;
        position: relative;
    }
    .content1_title_img{
        vertical-align: top;
        margin-top: 15px;
        display: inline-block;
        width: 31px;
        height: 14px;
        background: url(flerogames_img/title_style2.png) no-repeat 0 0;
    }
    .img_R{
        margin-right: 10px;
    }
    .img_L{
        margin-left: 10px;
    }
    .content1_title h2{
        display: inline-block;
        font-weight: normal;
        color: #fff;
        font-size: 33px;
    }

    
    .content1{
        padding-top: 40px;
        font-size: 0;
    }
    .content1::after{
        margin-bottom: 80px;
    }
    .content1_01_passion{
        display: inline-block;
        width: calc(100%/3);
        padding: 0 70px;
        box-sizing: border-box;
        color: white;
        vertical-align: top;
    }
    .content1_02_growth{
        display: inline-block;
        width: calc(100%/3);
        padding: 0 70px;
        box-sizing: border-box;
        color: white;
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        border-right: 1px solid rgba(255, 255, 255, 0.5);
        vertical-align: top;
    }
    .content1_03_teamwork{
        display: inline-block;
        width: calc(100%/3);
        padding: 0 70px;
        box-sizing: border-box;
        color: white;
        vertical-align: top;
    }
    /* 반응형에 맞쳐 그림크기를 줄이기위해 100%을 줌 */
    .content1 img{
        margin: 0;
        padding: 0;
        width: 95%;
    }
    .content1 h2{
        margin-top: -10px;
        font-size: 30px;
        font-weight: normal;
    }
    .content1 p{
        margin-top: 20px;
        font-size: 15px;
        letter-spacing: -0.25px;
    }

    /* <!-- content 2 --> */
    .content2_title{
        display: block;
        position: relative;
        text-align: center;
    }
    .content2_title_img{
        vertical-align: top;
        margin-top: 15px;
        display: inline-block;
        width: 31px;
        height: 14px;
        background: url(flerogames_img/title_style2.png) no-repeat 0 -14px;
    }
    .img_R2{
        margin-right: 10px;
    }
    .img_L2{
        margin-left: 10px;
    }
    .content2_title h2{
        display: inline-block;
        font-weight: normal;
        color: black;
        font-size: 33px;
        margin-bottom: 40px;
    }

    .content2{
        width: 94%;
        max-width: 1416px;
        margin: 0 auto;
        font-size: 0;
    }
    .content2_0{
        width: calc(100%/3.01);
        height: 165px;
        display: inline-block;
        vertical-align: top;
    }
    .content2_0_img{
        display: inline-block;
        width: 85px;
        width: 85px;
        vertical-align: top;
    }
    .content2_0_text{
        margin-left: 15px;
        padding-right: 60px;
        display: inline-block;
        width: calc(100% - 160px);
        vertical-align: top;
    }
    .content2_0_text h2{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .content2_0_text p{
        font-size: 15px;
        color: #adadad;
    }

    /* <!-- content 3 --> */
    .content3_title{
        display: block;
        position: relative;
        text-align: center;
    }
    .content3_title_img{
        vertical-align: top;
        margin-top: 15px;
        display: inline-block;
        width: 31px;
        height: 14px;
        background: url(flerogames_img/title_style2.png) no-repeat 0 -14px;
    }
    .img_R3{
        margin-right: 10px;
    }
    .img_L3{
        margin-left: 10px;
    }
    .content3_title h2{
        display: inline-block;
        font-weight: normal;
        color: black;
        font-size: 33px;
        margin-bottom: 40px;
    }

    .content3{
        width: 94%;
        max-width: 1416px;
        margin: 0 auto;
        text-align: center;
    }
    .content3_box1{
        width: 100%;
        margin: 0 auto;
        font-size: 0;
        text-align: left;
    }
    .content3_box1 img{
        display: inline-block;
        padding-bottom: 30px;
        vertical-align: top;
    }
    .content3_box1 h2{
        font-size: 20px;
        vertical-align: top;
    }
    .content3_box1 p{
        font-size: 15px;
        margin-top: 10px;
        color: #adadad;
        vertical-align: top;
    }
    .content3_box1_L{
        font-size: 0;
        display: inline-block;
        width: calc(48% - 120px);
        margin-right: 4%;
        padding-left: 120px;
        vertical-align: top;
    }
    .content3_box1_text{
        display: inline-block;
        margin-left: 14px;
        width: calc(100% - 100px);
        padding-bottom: 30px;
        letter-spacing: -1px;
    }
    .content3_box1_R{
        font-size: 0;
        display: inline-block;
        padding-right: 120px;
        width: calc(48% - 120px);
        vertical-align: top;
    }


    .content3_box2{
        font-size: 0;
        padding-top: 50px;
        position: relative;
    }
    .content3_box2_0{
        width: calc(98%/4);
        display:inline-block;
        height: 56px;
        font-size: 17px;
        text-align: center;
        line-height: 56px;
        color: white;
        padding-left: 28px;
        box-sizing: border-box;
    }
    .C3_01{
        margin-left: 1%;
        background-color: #4dceb8;
        border-radius: 3px 0 0 3px;
    }
    .C3_02{
        background-color: #4dc2ce;
    }
    .C3_03{
        background-color: #4da3ce;
    }
    .C3_04{
        margin-right: 1%;
        background-color: #858585;
        border-radius: 0 3px 3px 0;
    }

    .tri{
        width: 0;
        height: 0;
        border-top: 28px solid transparent;
        border-left: 28px solid white;
        border-bottom: 28px solid transparent;
        position: absolute;
    }
    .tri01{
        border-left: 28px solid  #4dceb8;
    }
    .tri02{
        border-left: 28px solid  #4dc2ce;
    }
    .tri03{
        border-left: 28px solid  #4da3ce;
    }

    .border01{
        left: calc((98%/4)*1 + 2px);
        margin-left: 1%;
    }
    .border02{
        left: calc((98%/4)*2 + 2px);
        margin-left: 1%;
    }
    .border03{
        left: calc((98%/4)*3 + 2px);
        margin-left: 1%;
    }

    .content3_box3_mo{
        display: none;
    }

    .content3_box4{
        display: inline-block;
        margin: 95px auto 95px auto;
        padding: 15px 20px 15px 20px;
        vertical-align: top;
        font-size: 19px;
        font-weight: bold;
        border: solid 1px black;
        border-radius: 3px;
        line-height: 20px;
        cursor: pointer;
    }
    .content3_box4 img{
        margin-right: 5px;
        vertical-align: middle;
    }
    .content3_box4 span{
        vertical-align: middle;
    }

    /* footer 시작 */
    footer{
        width: 100%;
        height: 110px;
        background-color: #000;
        color: #777;
        font-size: 13px;
    }
    .footer_in{
        max-width: 1500px;
        height: 110px;
        margin: 0 auto;
        position: relative;
    }
    .footer_logo{
        display: inline-block;
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .footer_info{
        display: inline-block;
        position: absolute;
        top: 30px;
        left: 180px;
        line-height: 17px;
    }
    .footer_link{
        display: inline-block;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        font-size: 12px;
        cursor: pointer;
    }


}


